name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        retries: 3
        delay: 10
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install Django
        pip install pytest

    - name: Set up Django settings module
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        export DJANGO_SETTINGS_MODULE=cicd_project.settings

    - name: Run Tests
      run: |
        pytest